*
!*.py
!*.txt
!*.wav
!answer_data/**
asano.wav
audiocaption_MIT_test.py
test_sound.py
!version.docx
!README.md
!.gitignore

__pycache__

# 入力音声ファイル
input_caption.mp3
input_stt.mp3
input_caption.wav
input_stt.wav